<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.driver_app" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CAB DRIVER"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".LoginActivity"
            android:label="ALPY CAB DRIVER">

        </activity>
   <activity android:name=".TripActivity">

   </activity>


        <activity android:name=".View_Activity"
            android:label="RIDE DETAILS">

        </activity>
        <activity android:name=".CompleteActivity"
            android:label="RIDE COMPLETE">

        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".RideCompletedActivity">

        </activity>
        <activity android:name=".Dispatcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>